img {
    width: 20px;
    height: 20px;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.header {
    background-color: white;
    grid-column: 2 / 3;

    display: grid;
    grid-template-columns: 2fr 4fr;
}

.header-right {
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
    column-gap: 16px;
}

.sidebar {
    background-color: blue;
    grid-row: 1 / 3;
}

.main-content {
    background-color: grey;
}

.account-picture {
    width: 50px;
    height: 50px;
}

.user-name {
    display: grid;
    grid-template-rows: auto auto;
}