img {
    width: 20px;
    height: 20px;
}

body{
    margin: 0;
}

#search-bar {
    width: 500px;
}

.dashboard-icon {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr;
}

.header {
    background-color: white;
    grid-column: 2 / 3;

    display: grid;
    grid-template-columns: 2fr 4fr;

    align-items: baseline;
}

.header-left {
    display: grid;
}

.header-top-left {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

.header-right {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    column-gap: 16px;
}

.header-top-right {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;

    align-items: center;
    justify-content: end;
}

.header-bottom-left {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    column-gap: 12px;
}

.header-bottom-right {
    display: grid;

    justify-content: end;
    align-items: end;
}

.sidebar {
    background-color: blue;
    display: grid;
    grid-row: 1 / -1;
    grid-auto-rows: max-content;
    row-gap: 12px;
}

.main-content {
    background-color: grey;

    display: grid;
    grid-template-columns: 2fr 1fr;
}

.account-picture {
    width: 50px;
    height: 50px;
}

.user-name {
    display: grid;
    grid-auto-flow: column;
}

.sidebar-subitem {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
}

p {
    margin: 0;
}

.sidebar p {
    color: white;
}

.card,
.side-card {
    border: 1px solid black;
}

.side-sub-card:nth-of-type(2) {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.main-content-cards {
    display: grid;
    grid-template-columns: auto auto;
}

.trending-sub-card {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    align-items: center;
}