@font-face {
    font-family: "Raleway";
    src: url("./fonts/Raleway.ttf");
}

@font-face {
    font-family: "Lato Light";
    src: url("./fonts/Lato-Light.ttf");
}

@font-face {
    font-family: "Lato Bold";
    src: url("./fonts/Lato-Bold.ttf");
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("./fonts/IBMPlexMono-Regular.ttf");
}

* {
    box-sizing: border-box;
}

img {
    width: 20px;
    height: 20px;
}

body {
    margin: 0;

    font-family: "Lato Light";
    font-variant-numeric: tabular-nums;

    height: 100%;

    background-color: #F1F2F4;
}

input[type=text] {
    background-color: #E9EDF2;
    border: none;
    border-radius: 20px;

    height: 25px;
}

#search-bar {
    width: 500px;
}

.dashboard-icon {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    width: 35px;
    height: 35px
}

.dashboard-subicon {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    width: 20px;
    height: 20px;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr auto;

    min-height: 100vh;
}

.header {
    background-color: #ffffff;
    grid-column: 2 / 3;

    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: auto auto;

    align-items: baseline;

    padding: 16px 32px 16px 32px;

    box-shadow: 0 3px 6px rgba(60, 72, 88, 0.18);
}

.header {
    position: relative;
    z-index: 100;
}

.main-content {
    position: relative;
    z-index: 1;
}

.header-left,
.header-right {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: 1 / -1;
}

.header-top-left {
    grid-row: 1;
}

.header-bottom-left {
    grid-row: 2;
}

.header-top-right {
    grid-row: 1;
}

.header-bottom-right {
    grid-row: 2;
}

.header-left {
    gap: 16px;
}

.header-top-left {
    display: grid;
    grid-auto-flow: column;
    align-items: center;

    gap: 16px;
}

.header-bottom-left {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    column-gap: 12px;

    align-items: center;
}

.header-right {
    align-items: center;
    column-gap: 16px;
}

.header-top-right {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;

    align-items: center;
    justify-content: end;

    gap: 32px;

    padding-right: 32px;
}

.header-bottom-right {
    display: grid;

    justify-content: end;
    align-items: center;

    height: 100%;
}

.sidebar {
    background-color: #458FCD;
    display: grid;
    grid-row: 1 / -1;
    grid-auto-rows: max-content;
    row-gap: 24px;

    padding: 16px;
}

.main-content {
    background-color: #F1F2F4;

    display: grid;
    grid-template-columns: 2fr 0.5fr;
    grid-auto-rows: 1fr;

    padding: 32px;

    gap: 20px;
}

.account-picture {
    width: 35px;
    height: 35px;
}

.account-picture-large {
    width: 70px;
    height: 70px;
}

.user-name {
    display: grid;
    grid-auto-flow: column;
}

.sidebar-subitem {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    column-gap: 16px;

    margin-bottom: 16px;
}

.dashboard-main-text {
    font-family: "Lato Bold";
    font-size: 28px;
}

.dashboard-sub-text {
    font-family: "Lato Bold";
    font-size: 20px;
}

p {
    margin: 0;
}

.sidebar p {
    color: white;
}

.side-card {
    background-color: #ffffff;
    margin-top: 20px;

    box-shadow: 0 3px 6px rgba(60, 72, 88, 0.18);

    padding: 24px;

    border-radius: 12px;
}

.trending {
    display: grid;

    gap: 16px;
}

.main-content-side-cards {
    display: grid;

    gap: 20px;
}

.main-content-cards {
    display: grid;
    align-items: stretch;

    grid-template-rows: auto 1fr;
}

.card {
    display: grid;
    padding: 32px 16px 16px 16px;

    background-color: #ffffff;
    box-shadow: 0 3px 6px rgba(60, 72, 88, 0.18);

    border-radius: 12px;

    gap: 20px;

    border-left: 10px solid #F3CE4A;
}

.icons {
    justify-self: end;
    align-self: end;
}

.side-sub-card {
    padding: 12px;
}

.side-sub-card:nth-of-type(2) {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.cards {
    display: grid;
    grid-template-columns: auto auto;

    gap: 20px;

    margin-top: 20px;
}

.trending-sub-card {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    align-items: center;

    gap: 16px;
}

.text-bold {
    font-family: "Lato Bold";
}

.btn {
    background-color: #458FCD;
    border-radius: 20px;
    color: white;

    padding: 8px 28px;

    border: none;

    font-size: 16px;
}

.btn:nth-of-type(2) {
    margin: 0 20px;
}

.card-text {
    color: #4B5563;
}

.side-card-text {
    font-size: 12px;
}

.side-card-trending-text {
    font-size: 16px;
}

.full-attribution {
    justify-self: center;
    padding-bottom: 16px;
}

a,
#footerText,
#attribution {
    font-size: 16px;
}